---
import SearchButton from "../components/SearchButton";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My first blog with Astro">
  <main>
    <SearchButton />
  </main>
</Layout>
